In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('dataset/data_labelled.csv')
df

     sentiment                                            STEMMED
0           -1                                ketawa jelek banget
1            1  request foto ktp pakai filter ig muka deket ba...
2            1  nyoba pake kamera analog hasil jelek sebel sus...
3           -1                              nickname jelek anjing
4            1                                              jelek
..         ...                                                ...
836          1                                    suka aneh aneeh
837          1                       pikir aneh baik pawang hujan
838          1        kalo rini suka aneh suka kadang kayak nenek
839          1                               otak emang suka aneh
840          1  aneh cewek rela jual alesan nya bayar kuliah k...

[841 rows x 2 columns]

In [12]:
df.shape

(841, 2)

In [13]:
def polarisasi(sentiment):
    if sentiment == 1:
        return 'netral'
    elif sentiment < 0 :
        
        return 'negatif'

df['label_encoder'] = df.sentiment.apply(polarisasi)
df.tail()

,sentiment,STEMMED,label_encoder
836,1,suka aneh aneeh,netral
837,1,pikir aneh baik pawang hujan,netral
838,1,kalo rini suka aneh suka kadang kayak nenek,netral
839,1,otak emang suka aneh,netral
840,1,aneh cewek rela jual alesan nya bayar kuliah k...,netral

In [14]:
df.sample(100)

,sentiment,STEMMED,label_encoder
758,1,anak ngerti ngmg aja emang sbnrnya kakak tai d...,netral
782,-1,main playing victim entar biar kaum mek dateng...,negatif
28,1,malu ngetwit tulis jelek takut baca,netral
633,1,nasi merah biar kurus jare,netral
761,1,main oke troll ganggu menang tim beban sat ora...,netral
...,...,...,...
775,1,pengecut gitu maennya dibase,netral
116,1,kalo lihat bentuk tubuh aneh dada pundak liat ...,netral
112,-1,sebentar kurus sakit,negatif
477,-1,kiri aneh pake kanan,negatif
379,-1,munafik kalo doyan hey tempat kenal langsung men,negatif

In [15]:
df.to_csv('dataset/datatweet.csv',index=False)